@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Header section start */
header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    margin-bottom: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;
}
nav h1{
    font-size: 50px;
}
nav span{
    color: #fd6e0a;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 60px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}
ul button{
    font-size: 20px;
    padding: 15px 20px;
    background-color: #fd6e0a;
    border: 2px solid #fd6e0a;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
}
ul button:hover{
    background: transparent;
    color: #fd6e0a;
    cursor: pointer;
}
.developerImg{
    position: absolute;
    top: 0;
    padding: 20px 30px;
}
#main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content{
    margin-left: 200px;
    width: 600px;
}
.text-content h2{
    font-size: 45px;
}
.text-content h1{
    font-size: 85px;
}
.text-content p{
    font-size: 18px;
}
.buttonGrp{
    display: inline-flex;
}
.btn{
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 20px 20px 0px 0px;
   padding: 13px 20px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 600;
   cursor: pointer;
   transition: 0.4s;
}
.btn i{
    margin-right: 10px;
}
.download{
    background-color: #fd6e0a;
    color: white;
    border: 2px solid #fd6e0a;
}
.download:hover{
    background: transparent;
    color: #fd6e0a;
}
.contact{
    border: 2px solid #fd6e0a;
    background: transparent;
    color: #fd6e0a;
}
.contact:hover{
    background-color: #fd6e0a;
    color: white;
}



/* main section start */
#about-section{
    width: 50%;
    background-color: #FFF8F3;
    padding: 140px 120px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    text-align: center;
}
.description{
    font-size: 18px;
    color: #757575;
    margin: 30px 0px;
    text-align: center;
}
#about-items{
    display: flex;
    justify-content: space-around;
}
#what-i-do{
    width: 60%;
    margin: auto;
    margin-top: 200px;
}


.box-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.box{
    width: 200px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 60px;
    box-shadow: 5px 5px 20px rgb(219, 219, 219);
}
.box-title{
    margin: 30px 0px 20px 0px;
}
.box-description{
    color: #757575;
    line-height: 28px;
    font-size: 16px;
    text-align: justify;
}


#resume-section{
    margin: 200px 230px;
}
.resume{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 65%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 50px;
}
.education-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.education-list-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}
.education-list-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.education-list-description{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
hr{
    margin: 30px 0px;
}
.btn_download{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    border: 2px solid #fd6e0a;
    border-radius: 5px;
    background-color: #fd6e0a;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    transition: 0.4s;
}
.btn_download i{
    margin-right: 10px;
}
.btn_download:hover{
    background: transparent;
    color: #fd6e0a;
    cursor: pointer;
}


/* footer section start */

footer{
    width: 100%;
    background-color: #FFF8F3;
}
#footer-contant{
    display: flex;
    justify-content: space-around;
    padding: 130px 230px;
}
.connect-mes{
    width: 600px;
}
#footer-contant h1{
    font-size: 35px;
    color: #181818;
    font-weight: 700;
    margin-bottom: 20px;
}
.connect-mes p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 30px;
}
.social-icon{
    display: flex;
    align-items: center;
}
.social-icon img{
    width: 24px;
    height: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.input_field{
    width: 460px;
    height: 60px;
    padding: 0px 30px;
    font-size: 16px;
    margin-bottom: 25px;
}
.input_field:last-child{
    height: 200px;
    padding-top: 30px;
}
.submitBtn{
    padding: 13px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fd6e0a;
    border: 2px solid #fd6e0a;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
}
.submitBtn:hover{
    background: transparent;
    color: #fd6e0a;
}